canvas {
    max-width: 100%;
    width: 960px;
}

button#btn-play {
    width: 100px;
}

.eq-label, .vis-label {
    width: 500px;
}

.justify-content,
.columns.justify-content {
    justify-content: space-around;
}



/* Reverse high pass slider so its coloration
represents the range of frequencies heard */
#highpass-slider {
    direction: rtl;
}